@model mvc_ef.Models.Language

@{
    ViewData["Title"] = "Add Language";
}

<h1>Add Language</h1>

<h3>Are you sure you want to add @Model.LanguageName?</h3>
<div>
    <h4>to Person Id is @ViewData["PersonId"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
        
        </dt>
        <dd class = "col-sm-10">
        
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanguageName)
        </dd>
    </dl>
    
    <form asp-action="Add">
        <input type="hidden" asp-for=@Model.LanguageId />
        <input type="submit" value="Add Language" class="btn btn-primary" /> |
        <a asp-action="IndexAdd" asp-controller="PersonLanguage" asp-route-id=@ViewData["PersonId"]>Back to Language List</a>
    </form>
</div>
